body{
    font-family: 'Balsamiq Sans';
}
/*barra de menu */
.barra{
    display: flex;
    background-color:rgb(14, 176, 240);
    width: 950px;

}
.titulo{
    text-align: center;
    flex: 1; 
    color:white
}
.menu{
    display: flex;
    justify-content: space-around;
    flex:1 ;
}
.menu > div{
    margin-bottom: 0px;
    margin-top: 35px;
}
/* segunda barra*/
.barra2{
    display: flex;
    width: 750px;
    border-bottom: 3px solid gray ;
    margin-left: 100px;
    padding-bottom: 0px;
    height: 65px;
}
.sj{
    flex: 1;
}
.temp{
    text-align: end;
    flex: 1;
    margin-top: 35px;
}
/* cuerpo*/
.cuerpo{
    display: flex;
    width:750px;
    margin-left: 100px;
    justify-content: space-between;
    padding-top: 20px;
}
.cuadro1{
    display: block;
    justify-content: center;
    width: 120px;
    background-color: rgb(189, 184, 184);
}
.t1,.t2,.t3{
    text-align: center;
    padding-top: 20px;
}
.t1{
    font-weight: bold;
    font-size: 20px;
}
.t3{
    font-weight: bold;
    font-size: 12px;
}
img{
    width: 80px;
    border-radius: 50%;
}
.t4{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}
.tmp1, .tmp3 , .tmp5 , .tmp7{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.tmp2, .tmp4, .tmp6, .tmp8{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
span{
    margin-left: -30px;
}
.r{
    color: red;
}
.a{
    color: blue;
}
/* spam*/
.spam{
    display: flex;
    width: 750px;
    border: 3px solid  black;
    background-color: grey;
    margin-left: 100px;
    position: fixed;
    top: 250px;
}
.imagen{
    flex: 1;
    text-align: center;
}
.parrafo{
    flex:3;
}
.buton{
    flex:1;
    text-align: center;
    padding-top: 30px;
}
h2,p{
    margin: 0px;
}
.click{
    font-size: 20px;
    font-family: 'Balsamiq Sans';
    background-color: rgb(16, 236, 218);
    border: 3px solid black;
}
